@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"); /* This imports a calligraphic script font */

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    background-color: hsl(0, 0%, 15%); /* #272727; - primary dark-gray */
}

body {
    /* padding: 1rem; */
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    /* border: 1px dashed green; */
    position: relative;
}

.card {
    /* padding: clamp(1rem, 5vw, 5rem); */

    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-image: url("img-landscape.png");

    /* background-color: aqua; */
    background-repeat: no-repeat;
    background-position: 65% 75%;
    background-size: cover;
    /* border: 1px dashed red; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
}

.seasons-greetings {
    width: fit-content;
    position: absolute;
    top: 10%; /* Adjusts the position from the bottom of the page */
    left: 50%;
    transform: translateX(-50%); /* Centers the text horizontally */
    font-family: "Great Vibes", cursive;
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Ensures the text is above other elements */
    animation: blink 5s linear;
    /* border: 1px dashed red; */
    text-align: center;
}

h1 {
    color: #fff;
    font-style: italic;
    font-size: clamp(1rem, 5vw, 2rem);
    /* border: 1px dashed red; */
    word-wrap: normal;
    text-align: center;
    box-sizing: border-box;

    animation: blink 30s linear;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.snowflake-frame {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    /* border: 1px dashed blue; */

    position: absolute;
    top: 0;
    left: 0;

    position: relative;
}

.snowflake {
    color: #fff;
    font-size: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    /* animation: fall 10s linear infinite; */
    animation: fall 15s linear;
}

@keyframes fall {
    to {
        transform: translateY(100svh);
    }
}
