@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;

    background-color: hsl(0, 0%, 15%); /* #272727; - primary dark-gray */
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.card {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-image: url("./public/img-portrait-m.jpeg");
    background-position: 85% 60%;

    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 400px) {
    .card {
        background-image: url("./public/img-portrait-l.jpeg");
    }
}

@media (min-width: 600px) {
    .card {
        background-image: url("./public/img-portrait-xl.jpeg");
    }
}

@media (min-width: 800px) {
    .card {
        background-image: url("./public/img-landscape-l.jpeg");
        background-position: 65% 75%;
    }
}

@media (min-width: 1100px) {
    .card {
        background-image: url("./public/img-landscape-xl.jpeg");
        background-position: 65% 75%;
    }
}

.seasons-greetings {
    width: fit-content;
    position: absolute;
    top: 15%; /* Adjusts the position from the bottom of the page */
    left: 50%;
    transform: translateX(-50%); /* Centers the text horizontally */
    font-family: "Great Vibes", cursive;
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 10; /* Ensures the text is above other elements */
    animation: blink 5s linear;
    text-align: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.snowflake-frame {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
}

.snowflake {
    color: #fff;
    font-size: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    animation: fall 15s linear;
}

@keyframes fall {
    to {
        transform: translateY(100svh);
    }
}
